@import "../../css-config/mixins.scss";

.bloc-fgt {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);

    .container-fgt {
        max-width: 600px;
        background: #fff;
        width: 800px;
        padding: 25px 40px 10px 40px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: floralwhite;
        border-radius: 30px;

        .text-fgt {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            font-family: sans-serif;
            background-image: linear-gradient(to right, #9f01ea, #56d8e4);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .label-fgt {
            background-image: linear-gradient(to right, #9f01ea, #56d8e4, #9f01ea, #56d8e4);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 20px;
            font-weight: 100;
            font-family: sans-serif;
        }

        .input-form {
            padding: 5px;
            margin: 5px 0;
            width: 100%;
            border-radius: 30px;
        }

        .col-fgt {
            display: inline-block;
            margin: 10px 40.5% 10px 35.5%;
            text-align: center;

            .btn-fgt {
                cursor: pointer;
                border-radius: 30px;
                font-size: large;
                border-color: white;
                padding: 10px;
                margin: 20px;
                justify-content: center;
                background: linear-gradient(115deg, #56d8e4 50%, #9f01ea 90%);
                color: white;
            }
        }
    }
}
