@import "../../css-config/mixins.scss";

.bloc-reset {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(115deg, #2e3192 10%, #1bffff 90%);

    .container-reset {
        max-width: 600%;
        background: #fff;
        width: 80%;
        margin: 10%;
        padding: 25px 40px 10px 40px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: floralwhite;
        border-radius: 30px;

        h1 {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            font-family: sans-serif;
            background-image: linear-gradient(to right, #1bffff, #2e3192);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .label-reset {
            font-size: 20px;
            font-weight: bold;
            font-family: sans-serif;
            margin-left: 2%;
        }

        .input-reset {
            padding: 5px;
            margin: 5px 0;
            width: 100%;
            border-radius: 30px;
            border: none;
            background-color: #efeaea;
        }
        .col-reset {
            display: inline-block;
            margin: 10px 2.5% 10px 7%;
            text-align: center;
            margin-left: 42.5%;

            button {
                cursor: pointer;
                border-radius: 30px;
                border-color: white;
                font-size: large;
                padding: 10px;
                margin: 5%;
                justify-content: center;
            }
            .btn-blue {
                background: linear-gradient(115deg, #2e3192 50%, #1bffff 90%);
                color: white;
                font-weight: bold;
            }
        }
    }
}
