.main {
    // width: 100%;
    // padding: 50px;
    // box-sizing: border-box;
    // display: flex;
    // flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    align-items: center;
}

.divsousmain {
    margin-right: 2%;
    margin-left: 2%;
    z-index: 0;
}

.image {
    border: 2px solid #20232a;
    border-radius: 10px;
}

.h1 {
    text-align: center;
}

.img {
    width: 20px;
    margin-left: 2%;
}

.flex {
    display: flex;
}

.addPhoto {
    margin-left: 2%;
}

.button {
    z-index: 1;
    top: 0px;
    right: 0px;
}
