@import "../../css-config/mixins.scss";

.bloc-prog {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(115deg, #2e3192 10%, #1bffff 90%);
    .title-section,
    .main-events,
    .upcoming-events,
    .newsletter,
    .partners {
        text-align: center;
    }

    .title-section {
        text-align: center;
    }

    .title {
        font-size: 5em;
        font-weight: bold;
        color: #61dafb;
        text-shadow: 2px 2px #20232a;
    }

    .section-title {
        display: flex;
        align-items: center;

        h2 {
            margin-right: 30px;
        }

        span {
            display: inline-block;
            flex-grow: 0.1;
            height: 0.2rem;
            background-color: #75cff9;
        }
    }

    .container-prog {
        max-width: 80%;
        background: #fff;
        width: 1000%;
        height: 50%;
        margin: 10%;
        padding: 25px 40px 10px 40px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: floralwhite;
        border-radius: 30px;
        max-width: 1140px;

        .row-prog {
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .col-md-6 {
            margin: 50px 0;
            @include md {
                margin: 75px 0;
            }

            .billy {
                position: relative;
                width: 80%;
                margin: auto;
                padding-top: 2%;
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                color: transparent;
                cursor: pointer;

                .inner-container {
                    position: relative;
                    width: 300px;  // La même largeur que l'image
                    height: 300px;  // La même hauteur que l'image
                    margin: auto;
                  }

                .imageEvent {
                    width: 300px;
                    height: 300px;
                    cursor: pointer;
                    margin: auto;
                    transition: transform 0.2s ease-in-out;
                    border-radius: 20px;
                }
                .artiste-name {
                    font-size: 2em;
                    cursor: pointer;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }

                .artiste-name2 {
                    color: #61dafb;
                    text-shadow: 2px 2px #20232a;
                    font-size: 3em;
                    cursor: pointer;
                }
            
                .event-button:hover .imageEvent {
                    transform: scale(1.1);
                    opacity: 0.2;
                    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
                }
                
                .event-button:hover .artiste-name {
                    opacity: 1;
                }
                .event-button {
                    flex-basis: calc(50% - 10px);
                    margin-bottom: 20px;
                    width: 400px;
                    border: none;
                    position: relative; /* Ajoutez le positionnement relatif */
                }
                .image-container {
                    position: relative; /* Ajoutez le positionnement relatif */
                }
            }
        }
    }
}
