* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oddval Variable";
    /* font-family: 'StretchPro', sans-serif;
  font-variant-ligatures: no-common-ligatures; */
}

/* @font-face {
  font-family: 'StretchPro';
  src: url('../public/fonts/StretchPro.otf');

} */

@font-face {
    font-family: Oddval Variable;
    src: url("https://garet.typeforward.com/assets/fonts/campaigns/OddvalVariable-VariableVF.woff2");
}

.app {
    font-family: "Arial", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #20232a;
    color: #61dafb;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li {
    margin: 0 10px;
    cursor: pointer;
}

header ul .account {
    background-color: #61dafb;
    color: #20232a;
    padding: 10px;
    border-radius: 5px;
}

header ul .logout {
    margin-left: 580px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.title-section {
    text-align: center;
    margin-bottom: 2em;
}

.title {
    font-size: 5em;
    font-weight: bold;
    color: #61dafb;
    text-shadow: 2px 2px #20232a;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.section-title h2 {
    margin-right: 30px;
}

.section-title span {
    display: inline-block;
    flex-grow: 0.1;
    width: 50px;
    height: 0.2rem;
    background-color: #75cff9;
}

.section-title img {
    width: 100px;
    height: auto;
}

.main-events,
.upcoming-events,
.newsletter,
.partners {
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary,
.btn-secondary {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn-primary {
    background-color: #61dafb;
}

.btn-primary:hover {
    background-color: #bbeeff;
}
.btn-secondary {
    background-color: #20232a;
}

.btn-secondary:hover {
    background-color: #555555;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #20232a;
    color: #61dafb;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer ul li {
    margin: 0 10px;
    cursor: pointer;
}

input[type="email"] {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content ul {
    list-style-type: none;
    padding-left: 20px;
    font-size: 1.5rem;
}

.main-content li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
}

.main-content li::before {
    content: "▸";
    position: absolute;
    left: 0;
    top: 0;
}

.main-content li > ul {
    margin-top: 10px;
}

.main-content li > ul > li::before {
    content: "▹";
}

.presentation {
    display: flex;
    justify-content: space-between; /* Pour espacer les sections */
}

.content-section {
    width: 70%; /* Ajustez selon vos besoins */
}

.sticky-section {
    width: 28%; /* Ajustez selon vos besoins */
    position: -webkit-sticky; /* Pour la compatibilité Safari */
    position: sticky;
    top: 10px; /* Marge depuis le haut de la fenêtre. Ajustez selon vos besoins */
}

.presentation-image {
    width: 100%;
    max-width: 600px;
}

.video-container {
    width: 100%;
    max-width: 560px;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.description,
.achat-ticket {
    width: 100%;
    max-width: 600px;
    text-align: center;
}
